*{box-sizing:border-box;padding:0;margin:0;}
html,body,#root,#App{width:100vw;height:100vh;position:relative;}
.top{
  border:solid yellow 3px;
}


/* #topWall{
  transform-style:'preserve-3d';
  position:relative;
  border:solid black 1px;
  transform-origin:75px 75px -75px;
} */