*{box-sizing:border-box;padding:0;margin:0;}
html,body,#root,#App{width:100vw;height:100vh;position:relative;
user-select:none;
touch-action: none;
}
#side{
  border:solid rgb(255, 255, 0) 1.5px;
  border-radius:8px;
}
